footer {
    background-color: #5271FF;
}

#footer {
    padding-top: 160px;
}

footer p {
    padding-left: 3%;
    padding-right: 3%;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

.ptf1 {
    padding-top: 160px !important;
}

.ptf2 {
    padding-top: 260px !important;
}

.ptf3 {
    padding-top: 480px !important;
}

.ptf4 {
    padding-top: 520px !important;
}